Node Red/flows.json.txt
[{"id":"cf38c745.a40a78","type":"tab","label":"Smart_Parking","disabled":false,"info":""},{"id":"dfe73309.385bd","type":"ibmiot in","z":"cf38c745.a40a78","authentication":"apiKey","apiKey":"ee2579d8.b8869","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1223","applicationId":"","deviceType":"Device_1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":120,"wires":[["bb250ba4.938188"]]},{"id":"bb250ba4.938188","type":"function","z":"cf38c745.a40a78","name":"Availability","func":"global.set(\"parking_data\",msg.payload.parking);\ntotal_slots = msg.payload.totalslots;\nfor(let i=1;i<total_slots+1;i++){\n    if(msg.payload.parking[i] == 1)\n    {\n        global.get('parking_data')[i] = '..Not Available..';\n        \n    }\n    else\n    {\n       global.get('parking_data')[i] = '..Available..'\n    }\n}\nmsg.payload = {\"parking\":global.get('parking_data')}\nglobal.set(\"p\",msg.payload.parking);\nglobal.set(\"t\",total_slots);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["7548caf1.9be8d4"]]},{"id":"7548caf1.9be8d4","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"48feab0d.dd1c34","type":"http in","z":"cf38c745.a40a78","name":"Posting Availability Data","url":"/parking","method":"get","upload":false,"swaggerDoc":"","x":300,"y":540,"wires":[["f3a0a7b0.c43718"]]},{"id":"6305f2be.04151c","type":"http response","z":"cf38c745.a40a78","name":"","statusCode":"","headers":{},"x":710,"y":540,"wires":[]},{"id":"f3a0a7b0.c43718","type":"function","z":"cf38c745.a40a78","name":"","func":"msg.payload = {\"parking\": global.get('p'),\"total_slots\":global.get('t')}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":540,"wires":[["6305f2be.04151c"]]},{"id":"275fc897.f1ac18","type":"function","z":"cf38c745.a40a78","name":"Gate Mechanism","func":"global.set('c',0)\nvar entry_reponse\nvar exit_response\nentry = msg.payload.Entry;\nexit = msg.payload.Exit;\n\nif(entry <= 500)\n{\n    entry_response = '....Gate is Open....'; \n    \n}\nelse\n{\n    entry_response = '....Gate is Closed....'\n}\nif(exit <= 500)\n{\n    exit_response = '....Gate is Open....'; \n    \n}\nelse\n{\n    exit_response = '....Gate is Closed....';\n}\nglobal.set(\"en\",entry_response);\nglobal.set(\"ex\",exit_response);\nmsg.payload = {\"entry_reponse\":entry_response,\"exit_response\":exit_response};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["3b40a60b.59248a"]]},{"id":"3b40a60b.59248a","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":160,"wires":[]},{"id":"c1879604.e21da8","type":"switch","z":"cf38c745.a40a78","name":"Entry Check","property":"payload.Entry","propertyType":"msg","rules":[{"t":"lte","v":"500","vt":"str"},{"t":"gt","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["620b0095.914a","7c76ae35.fe0be"],[]]},{"id":"e9f52817.a6bd18","type":"switch","z":"cf38c745.a40a78","name":"Exit Check","property":"payload.Exit","propertyType":"msg","rules":[{"t":"lte","v":"500","vt":"str"},{"t":"gt","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":280,"wires":[["c0b949b3.f70b88","b44698d.e5de168"],[]]},{"id":"620b0095.914a","type":"function","z":"cf38c745.a40a78","name":"Entry Counter","func":"var counter = flow.get(\"counter\")||0\ncounter++\nflow.set(\"counter\",counter)\nmsg.payload = {\"entry\":counter}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":220,"wires":[["7b69a7e1.b42b58","dceac6ba.3c54f8"]]},{"id":"7b69a7e1.b42b58","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"c0b949b3.f70b88","type":"function","z":"cf38c745.a40a78","name":"Exit Counter","func":"var counter1 = flow.get(\"counter1\")||0\ncounter1++\nflow.set(\"counter1\",counter1)\nmsg.payload = {\"exit\":counter1}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["ce6a90eb.a5dc3","5ca6772f.565bb8"]]},{"id":"ce6a90eb.a5dc3","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"ce007916.c69898","type":"http in","z":"cf38c745.a40a78","name":"Getting Entry Status","url":"/entrychange","method":"post","upload":false,"swaggerDoc":"","x":910,"y":520,"wires":[["c7d48d29.a9b38"]]},{"id":"252ad839.370da8","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":520,"wires":[]},{"id":"c7d48d29.a9b38","type":"function","z":"cf38c745.a40a78","name":"","func":"var slot = msg.payload.slot\nif(global.get('parking_data')[slot]=='..Available..')\n{\n  global.get('parking_data')[slot] = '..Not Available..';  \n}\nmsg.payload = {\"parking\":global.get('parking_data')}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":520,"wires":[["252ad839.370da8"]]},{"id":"3c1deb84.54e084","type":"http in","z":"cf38c745.a40a78","name":"Getting Exit Status","url":"/exitchange","method":"post","upload":false,"swaggerDoc":"","x":910,"y":580,"wires":[["4a2b1c39.b57734"]]},{"id":"6a490da6.3ecb14","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":580,"wires":[]},{"id":"4a2b1c39.b57734","type":"function","z":"cf38c745.a40a78","name":"","func":"var slot1 = msg.payload.slot1\nif(global.get('parking_data')[slot1] == '..Not Available..')\n{\n   global.get('parking_data')[slot1] = '..Available..'; \n}\nmsg.payload = {\"parking\":global.get('parking_data')}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":580,"wires":[["6a490da6.3ecb14"]]},{"id":"81939f2a.c2733","type":"ibmiot in","z":"cf38c745.a40a78","authentication":"apiKey","apiKey":"ee2579d8.b8869","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1224","applicationId":"","deviceType":"Device_2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":200,"wires":[["e9f52817.a6bd18","c1879604.e21da8","275fc897.f1ac18"]]},{"id":"be64833e.a848e","type":"http in","z":"cf38c745.a40a78","name":"Posting Entry & Exit Gate Data","url":"/gatedata","method":"get","upload":false,"swaggerDoc":"","x":290,"y":600,"wires":[["b21ad7b4.ea09f8"]]},{"id":"d63072fc.f3cb3","type":"http response","z":"cf38c745.a40a78","name":"","statusCode":"","headers":{},"x":710,"y":600,"wires":[]},{"id":"b21ad7b4.ea09f8","type":"function","z":"cf38c745.a40a78","name":"","func":"msg.payload = {\"Entry\":global.get('en'),\"Exit\":global.get('ex'),\"car_entry\":flow.get(\"counter\"),\"car_exit\":flow.get(\"counter1\")}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[["d63072fc.f3cb3"]]},{"id":"91faa95f.146c18","type":"change","z":"cf38c745.a40a78","name":"","rules":[{"t":"set","p":"counter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":440,"wires":[["5ca6772f.565bb8"]]},{"id":"dfaceb07.7921b8","type":"change","z":"cf38c745.a40a78","name":"","rules":[{"t":"set","p":"counter1","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":380,"wires":[["dceac6ba.3c54f8"]]},{"id":"dceac6ba.3c54f8","type":"ui_text","z":"cf38c745.a40a78","group":"e22c7e34.25b6e","order":5,"width":15,"height":1,"name":"","label":"Entry Number","format":"{{msg.payload.entry}}","layout":"row-spread","x":850,"y":360,"wires":[]},{"id":"93791a84.371718","type":"ui_button","z":"cf38c745.a40a78","name":"","group":"e22c7e34.25b6e","order":4,"width":15,"height":1,"passthru":false,"label":"Click to Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":480,"wires":[["a2909e6d.b3172"]]},{"id":"a2909e6d.b3172","type":"http request","z":"cf38c745.a40a78","name":"Retriving Availability Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://node-red-ssmtq-2021-07-08.eu-gb.mybluemix.net/parking","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":460,"wires":[["5e0858f5.4a2268"]]},{"id":"5e0858f5.4a2268","type":"json","z":"cf38c745.a40a78","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":460,"wires":[["7d95c90b.2a1398"]]},{"id":"5ca6772f.565bb8","type":"ui_text","z":"cf38c745.a40a78","group":"e22c7e34.25b6e","order":6,"width":15,"height":1,"name":"","label":"Exit Number","format":"{{msg.payload.exit}}","layout":"row-spread","x":830,"y":400,"wires":[]},{"id":"7c76ae35.fe0be","type":"ui_form","z":"cf38c745.a40a78","name":"","label":"Entry Slot Booking","group":"e22c7e34.25b6e","order":7,"width":15,"height":1,"options":[{"label":"Book Entry Slot","value":"slot","type":"number","required":true,"rows":null}],"formValue":{"slot":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":340,"wires":[["a3b79305.53a73","a2909e6d.b3172"]]},{"id":"3823f12b.d42ffe","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"a3b79305.53a73","type":"function","z":"cf38c745.a40a78","name":"","func":"var slot = msg.payload.slot\nglobal.get('parking_data')[slot] = '..Not Available..';\nmsg.payload = {\"parking\":global.get('parking_data')}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["3823f12b.d42ffe"]]},{"id":"b44698d.e5de168","type":"ui_form","z":"cf38c745.a40a78","name":"","label":"Exit Slot Booking","group":"e22c7e34.25b6e","order":8,"width":15,"height":1,"options":[{"label":"Book Exit Slot","value":"slot1","type":"number","required":true,"rows":null}],"formValue":{"slot1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":380,"wires":[["5dc73fde.10aa","a2909e6d.b3172"]]},{"id":"5dc73fde.10aa","type":"function","z":"cf38c745.a40a78","name":"","func":"var slot1 = msg.payload.slot1\nglobal.get('parking_data')[slot1] = '..Available..';\nmsg.payload = {\"parking\":global.get('parking_data')}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["e712558e.fb8f68"]]},{"id":"e712558e.fb8f68","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"7d95c90b.2a1398","type":"ui_text","z":"cf38c745.a40a78","group":"e22c7e34.25b6e","order":2,"width":15,"height":1,"name":"","label":"Available Slots","format":"{{msg.payload.parking}}","layout":"col-center","x":1020,"y":460,"wires":[]},{"id":"f32b74b1.58c828","type":"ui_button","z":"cf38c745.a40a78","name":"","group":"e22c7e34.25b6e","order":9,"width":0,"height":0,"passthru":false,"label":"Reset Button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1030,"y":400,"wires":[["dfaceb07.7921b8","91faa95f.146c18"]]},{"id":"d3b20820.c5d8a8","type":"inject","z":"cf38c745.a40a78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1030,"y":340,"wires":[["dfaceb07.7921b8"]]},{"id":"5119a292.9495cc","type":"function","z":"cf38c745.a40a78","name":"","func":"flow.set(\"counter\",0)\nflow.set(\"counter1\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":660,"wires":[["96c9d6ef.1bce58"]]},{"id":"96c9d6ef.1bce58","type":"debug","z":"cf38c745.a40a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":660,"wires":[]},{"id":"68be3b60.32a874","type":"http in","z":"cf38c745.a40a78","name":"Resetting","url":"/reset","method":"post","upload":false,"swaggerDoc":"","x":940,"y":660,"wires":[["5119a292.9495cc"]]},{"id":"ee2579d8.b8869","type":"ibmiot","name":"API_IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e22c7e34.25b6e","type":"ui_group","name":"Smart Parking","tab":"d401a67c.d79e48","order":1,"disp":true,"width":15,"collapse":false},{"id":"d401a67c.d79e48","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]